PORT=7768
HOST=localhost

LOG_LEVEL=silly
LOG_PATH=logs

TRACKING_DB_URL=http://172.20.50.123:9988

REDIS_HOST=localhost
REDIS_PORT=6379

WHATSAPP_BROWSER_LIFETIME_MINUTES=10
WHATSAPP_BROWSER_VERIFY_LIFE_MINUTES=3

ADB_HOST= localhost
ADB_PORT=5037
ADB_DEVICE_SERIAL=emulator-5554,emulator-5556